@import 'variables';

.navbar-dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    position: relative;
    top: 60px;
    right: 20px;
    z-index: 20;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 #000000;


    a {
        text-decoration: none;
        color: black;
        padding: 5px 10px 5px 10px;
    }

    li {
        text-decoration: none;
        list-style: none;
        margin: 10px 0 0 0;
        padding: 5px 10px 5px 10px;
        width: 100%;

        button {
            background-color: @button-color;
            color: @button-text-color;
            margin-bottom: 10px;
            border-radius: 10px;
            width: 100px;
        }
    }

    li:nth-child(1):hover {
        background-color: rgb(214, 214, 214);
    }
    li:nth-child(2):hover {
        background-color: rgb(214, 214, 214);
    }
}