@import 'variables';

#events-near-me-container{
    display: flex;
    flex-direction: column;
    padding: 5%
}

.single-event-near-me{
    display: flex;
    flex-shrink: 10%;
    flex-direction: column;
}

.event-picture{
    height: auto;
    width: auto;
    max-height: 350px;
    max-width: 350px;
}

.main-page-event-button{
    display:flex;
    justify-self: center;
}

.events-near-me-title{
    font-size:40px;

}

.single-event-date{
    display:flex;
    align-self:center;
    font-size:15px;
}

.single-event-title{
    display:flex;
    align-self:center;
    font-size:30px;
}
