@import "login";
@import "navbar";
@import "events";
@import "searchbar";
@import "profile";
@import "footer";
@import 'singleEvent';

* {
  margin: 0;
  font-family: "Readex Pro", sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}