@import 'variables';

.main-page-featured-container{
  display:flex;
  flex-direction:column;
  background-color: @secondary-color;
}


.featured-events-container{
  display:flex;
  flex-direction:row;
  justify-content:space-around;

  //An attempt at a parallax background with image:
  // background-image: url(../public/people-cheering.png);
  // height: 100%;
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.main-page-event-button{
  background-color: @button-color;
  color: @background-color;
  display:flex;
  justify-content:flex-end;
  align-items:stretch;
  border-radius:20px;
  font-size:16px;
  border-color:@button-color;
  text-shadow: 2px 2px 4px black;
}
.main-page-event-button:hover{
  border-style:solid;
  border-color:#ffb783;
  border-width: 4px;
  transition: 0.2s;
  border-radius:20px;
  background-color:#ffb783;
  text-shadow: 2px 2px 4px black;
}
.main-page-event-button-container{
  display:flex;
  justify-content: center;
}

//imported from Luke's Carousel CSS:

*{
    margin: 0;
  }

  .carousel{
    width: 100%;
    overflow: hidden;
    height: 300px;
    background-color: @secondary-color;
    position: relative;
    transition: 0.25s;
  }

  .arrows{
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .arrow{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    background-color: @button-color;
    color: white;
  }

  .carouselWrapper{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 0.25s;
  }

  .carousel-item{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @secondary-color;
    color: white;

  }