@import 'variables';

#upcoming-events{
    display: flex;
    flex-direction: column;
    padding: 5%
}

#upcoming-events-container{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.single-upcoming-event{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.event-picture{
    height: auto;
    width: auto;
    max-height: 350px;
    max-width: 350px;
   
}

.main-page-event-button{
    display:flex;
    justify-self: center;
}

.upcoming-events-title{
    display:flex;
    text-align:center;
    font-size:40px;
}

.featured-event-date{
    text-align:center;
    font-size:15px;
}

.featured-event-name{
    text-align:center;
    font-size:30px;
}

.main-page-event-button{
    width:fit-content;
    text-align: center;
    max-height:30px;
    font-size: 20px;
}