.events-near-me-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #151a21;
  padding: 23px;
  border-style: solid;
  border-color: #ff8e3c;
  border-radius: 30px;
  margin-bottom: 10%;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  box-shadow: 0 8px 32px 0 #000000;
  animation: slideInRight 2s;
}
@keyframes slideInRight {
  0% {
    translate: 2000px;
  }
  100% {
    translate: 0px;
  }
}
.events-near-me-title {
  color: white;
  align-self: center;
  font-size: xx-large;
  margin-bottom: 14px;
  font-style: bold;
  text-decoration: underline;
}
.single-event-near-me {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ff8e3c;
  padding: 10px;
}
.single-event-near-me-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
.single-event-near-me-image {
  display: flex;
  width: 200px;
  max-width: 100%;
  height: auto;
}
.single-event-near-me-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  padding: 6px;
}
.single-event-near-me-date {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
