#footer-root-container {
  height: auto;
  width: 100%;
  margin: 0;
  margin-top: 70px;
  background-color: #151a21;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.footer-fill {
  background-color: #151a21;
  position: fixed;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  z-index: -999;
}
.footer-group-1 {
  display: flex;
  height: auto;
  width: auto;
  justify-content: space-between;
  color: white;
  padding: 2.5%;
  padding-bottom: 4%;
  border-bottom: #ff8e3c solid 1px;
}
.footer-column {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-column h2 {
  font-size: 1.25rem;
}
.footer-column a {
  text-decoration: none;
  transition: 0.25s ease;
  color: white;
}
.footer-column a:hover {
  color: #ff8e3c;
}
.footer-group-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2.5%;
  padding-right: 7.5%;
}
.footer-group-2 img {
  height: 10%;
  width: 10%;
}
.footer-group-2 p {
  color: white;
}
.footer-group-2 .footer-copy {
  width: 10%;
}
@media only screen and (max-width: 1100px) {
  #footer-root-container {
    font-size: 12px;
  }
  h2 {
    font-size: 14px;
  }
  img {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 1100px) {
  #footer-root-container {
    font-size: 12px;
  }
  .footer-group-2 p {
    margin-left: 10px;
    font-size: 10px;
  }
}
