.login-main-container {
  background-color: white;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
}
.login-main-container .login-form-container {
  display: flex;
  color: #ff8e3c;
  flex-direction: column;
  align-items: center;
  pointer-events: all;
  border: 4px solid white;
  padding: 40px 50px 50px 50px;
  background: #151a21;
  box-shadow: 0 8px 32px 0 #000000;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 100px;
}
.login-main-container .login-form-container #login-failed {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 25px;
  margin-bottom: 0.75rem;
  border-radius: 5px;
}
.login-main-container .login-form-container .offscreen {
  position: absolute;
  left: -9999px;
}
.login-main-container .login-form-container p {
  color: #ff8e3c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding-bottom: 40px;
}
.login-main-container .login-form-container #login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-main-container .login-form-container #login-form button {
  background-color: #ff8e3c;
  color: #0d0d0d;
  font-size: 20px;
  border-radius: 6px;
  width: 90px;
  height: 35px;
  margin: 10px 0px 20px 0px;
}
.login-main-container .login-form-container #login-form a {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}
.login-main-container .login-form-container #login-form input {
  margin: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 7px;
}
.login-create-new-user-container {
  background-color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin-top: 100px;
}
.login-create-new-user-container .login-create-new-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #151a21;
  border-radius: 7px;
  background-color: #151a21;
  box-shadow: 0 8px 32px 0 #000000;
}
.login-create-new-user-container .login-create-new-user-form p {
  color: #ff8e3c;
  font-size: 40px;
  margin: 30px 0 0 0;
}
.login-create-new-user-container .login-create-new-user-form .login-have-an-account-container {
  display: flex;
  justify-content: center;
}
.login-create-new-user-container .login-create-new-user-form .login-have-an-account-container a {
  color: #ff8e3c;
  margin-bottom: 20px;
  cursor: pointer;
}
.login-create-new-user-container .login-create-new-user-form #new-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #151a21;
  color: white;
  width: 300px;
  margin: 20px 50px 0 50px;
}
.login-create-new-user-container .login-create-new-user-form #new-user-form #togglePassword {
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -41px;
  margin-right: -125px;
  margin-bottom: 15px;
  cursor: pointer;
  color: black;
  z-index: 20;
}
.login-create-new-user-container .login-create-new-user-form #new-user-form input {
  margin: 0 0 15px 0;
  outline: none;
  height: 30px;
  width: 100%;
}
.login-create-new-user-container .login-create-new-user-form #new-user-form button {
  background-color: #ff8e3c;
  color: #0d0d0d;
  border-radius: 5px;
  margin: 20px 0 0 0;
  width: 80px;
  height: 30px;
}
.login-create-new-user-container .login-create-new-user-form #new-user-form label {
  font-size: 18px;
}
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #151a21;
  height: 80px;
  border-bottom: 2px solid #1d232b;
}
#navbar #navbar-logo {
  display: flex;
  flex: 1;
  margin: 0 0 0 10px;
}
#navbar #navbar-logo img {
  width: 100px;
}
#navbar #navbar-logo img:hover {
  transform: rotate(360deg);
}
#navbar #navbar-logo a {
  text-decoration: none;
}
#navbar .out-of-drop-down-cart {
  color: white;
  height: 40px;
  position: absolute;
  right: 100px;
  display: flex;
}
#navbar .out-of-drop-down-cart img {
  width: 100%;
}
#navbar .out-of-drop-down-cart:hover .out-of-drop-down-cart-items {
  scale: 1.1;
}
#navbar .out-of-drop-down-cart-items {
  color: white;
  background-color: #ff8e3c;
  height: 19px;
  width: 19px;
  position: absolute;
  right: 33px;
  top: -3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: none;
  cursor: pointer;
}
#navbar #out-of-drop-down-cart {
  height: 100%;
  cursor: pointer;
}
#navbar #settings-icon {
  width: 40px;
  margin-right: 20px;
}
#navbar .login-logout-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
#navbar .login-logout-container img {
  transition: transform 0.7s ease-in-out;
  cursor: pointer;
}
#navbar .login-logout-container img:hover {
  transform: rotate(360deg);
}
#navbar #logout {
  display: inline-block;
  position: relative;
  margin: 0 20px 0 0;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px;
}
#navbar a::before,
#navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff8e3c;
  transform: scaleX(0);
  transition: transform 0.25s;
}
#navbar a::before {
  top: -3px;
  transform-origin: left;
}
#navbar a::after {
  bottom: -3px;
  transform-origin: right;
}
#navbar a:hover::before,
#navbar a:hover::after {
  transform: scaleX(1);
}
#navbar .navbar-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
}
#navbar .navbar-links a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-radius: 7px;
  color: white;
  padding: 5px;
}
#navbar .navbar-links a:hover {
  color: #ff8e3c;
}
.navbar-links-dropdown {
  display: none;
  color: black;
  flex-direction: column;
  margin: 10px 0 0 0;
  gap: 10px;
}
.navbar-links-dropdown {
  padding-left: 5px;
}
.navbar-links-dropdown a:hover {
  cursor: pointer;
  background-color: lightgrey;
}
@media only screen and (max-width: 600px) {
  .navbar-links-dropdown {
    display: flex;
  }
  .navbar-links {
    display: none !important;
  }
}
* {
  font-family: "Readex Pro", sans-serif;
}
#events-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0;
  height: 140vh;
  padding-top: 20px;
}
#events-sort-filter {
  display: flex;
  width: 75%;
  justify-content: space-around;
  font-size: 1.5rem;
  padding: 8px;
  align-items: center;
  color: #ff8e3c;
}
.events-sort {
  text-align: center;
}
select {
  font-size: 1rem;
  padding: 8px;
  color: #2a2a2a;
  border-radius: 7px;
}
#events-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}
.events-listing {
  display: flex;
  position: relative;
  gap: 10%;
  width: 70%;
  padding: 12px;
  border-bottom: black 1px solid;
  height: 10vh;
  align-items: center;
  font-size: 1.25rem;
}
.events-listing p {
  font-weight: bold;
  max-width: 475px;
  max-height: 80px;
  cursor: pointer;
}
.events-listing p:hover {
  color: #2b889d;
}
.events-listing img {
  height: 50px;
  width: 100px;
}
.events-listing a {
  display: flex;
  align-items: center;
  margin: 0;
  position: absolute;
  right: 0;
  height: 75%;
  width: 10%;
  border: 1px white solid;
}
.event-button {
  height: 50px;
  width: 100%;
  border: 1px white solid;
  background-color: #ff8e3c;
  color: white;
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  border-radius: 10px;
}
.event-button:hover {
  background-color: #f47012;
  cursor: pointer;
}
.events-pagination {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-top: 20px;
}
.events-pag-number {
  width: 20px;
  height: 20px;
  color: #2a2a2a;
  text-align: center;
  border: solid 1px black;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}
.events-active {
  background-color: #ff8e3c;
  color: white;
}
.pagination {
  display: flex;
  gap: 10px;
  margin-top: 5vh;
}
.pagination li {
  list-style-type: none;
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination li a {
  text-decoration: none;
  color: #2a2a2a;
}
.event-date {
  width: 15%;
}
#events-next-prev {
  display: flex;
  gap: 5vw;
  align-items: center;
  width: 30vw;
  justify-content: center;
  margin-top: 5vh;
}
.event-next-button {
  height: 5vh;
  width: 5vw;
  border: 1px white solid;
  background-color: #ff8e3c;
  color: white;
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.event-next-button:hover {
  background-color: #f47012;
  cursor: pointer;
}
.navbar-searchbar-container {
  display: flex;
  justify-content: center;
  background-color: #151a21;
}
.navbar-searchbar-container .inner-searchbar-container {
  display: flex;
  width: 50%;
  padding: 10px 0 15px 0;
}
.navbar-searchbar-container input {
  width: 100%;
  height: 40px;
  text-indent: 5px;
  border: none;
  padding: 5px 0 5px 0;
}
.navbar-searchbar-container input:focus {
  /* removes the input focus blue box */
  outline: none;
}
.navbar-searchbar-container button {
  border: 0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  background-color: #ff8e3c;
  color: #0d0d0d;
  width: 90px;
  font-size: 15px;
}
.navbar-searchbar-container button:hover {
  background-color: #d98600;
}
.navbar-searchbar-container .searchbar-icon {
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  width: 30px;
  border-radius: 10px 0 0 10px;
}
@media only screen and (max-width: 600px) {
  .inner-searchbar-container {
    width: 95% !important;
  }
}
.search-results-number {
  font-size: 20px;
  margin: 25px;
  color: #ff8e3c;
  font-weight: 500;
}
.search-not-found-main {
  background-color: white;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-not-found {
  height: 500px;
  width: 500px;
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.search-not-found .search-not-found-message {
  padding-left: 25px;
  font-size: 18px;
}
.search-not-found .search-not-found-message span {
  font-weight: 700;
}
.search-not-found button {
  margin-top: 25px;
  background-color: #ff8e3c;
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  font-size: 16px;
  cursor: pointer;
}
.search-not-found button:hover {
  background-color: #ffa769;
}
.profile-header h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}
.profile-main-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.profile-menu-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0 0 0;
}
.profileLargeEmail {
  font-size: 14px;
}
.profile-account-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dedede;
  width: 230px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  margin: 5px 0 0 0;
}
.profile-account-information-container h3 {
  font-size: 18px;
  font-weight: 400;
}
.profile-account-information-container a {
  text-decoration: none;
  color: #2b889d;
}
.profile-account-information-container .profile-name-container {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.profile-account-information-container .profile-picture-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 5px;
  border: 1px solid #dedede;
}
.profile-account-information-container .profile-email-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin-top: 5px;
  margin-bottom: 5px;
}
.profile-account-information-container .profile-email-container * {
  margin: 3px;
}
.profile-account-information-container .profile-address-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile-account-information-container .profile-address-container * {
  margin: 3px;
}
.profile-settings-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 230px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  border: 1px solid #dedede;
  justify-content: space-evenly;
  color: #2b889d;
}
.profile-settings-container div {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.profile-settings-container div:hover {
  cursor: pointer;
  background-color: #e9e9e9;
}
.profile-settings-container #profile-setting-1 {
  border-top: none;
}
.profile-settings-container #profile-setting-2 {
  border: none;
}
.profile-settings-container #profile-setting-3 {
  border-bottom: none;
}
.profile-cart-events-container {
  display: flex;
  flex-direction: column;
  border: 10px;
  margin-left: 80px;
  margin-top: 30px;
}
.profile-cart-events-container div {
  margin-top: 2px;
  margin-bottom: 2px;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-header h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block {
  display: flex;
  flex-wrap: wrap;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block .profile-event-item {
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  width: 300px;
  height: 150px;
  border: 1px solid #dedede;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block .profile-event-item img {
  width: 100%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block .profile-event-item .profile-event-item-title {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgba(35, 35, 35, 0.3);
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  align-self: flex-end;
  justify-content: flex-start;
  width: 300px;
  min-height: 30px;
  margin: 0px;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block .profile-event-item .profile-event-item-title div {
  margin-left: 3px;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block .profile-event-item:hover img {
  transform: scale(1.05);
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block .profile-event-item:hover .profile-event-item-title {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: rgba(35, 35, 35, 0.6);
  color: white;
}
.profile-cart-events-container .profile-cart-header {
  display: flex;
  text-align: center;
  margin-top: 5px;
}
.profile-cart-events-container .profile-cart-header h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
.profile-cart-events-container .profile-purchase-header {
  display: flex;
  text-align: center;
  margin-top: 5px;
}
.profile-cart-events-container .profile-purchase-header h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
.profile-cart-events-container .profile-empty-cart {
  padding: 60px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-cart-events-container .profile-empty-cart img {
  max-width: 250px;
  opacity: 0.8;
}
.profile-cart-events-container .profile-empty-cart div {
  font-size: 18px;
}
.profile-cart-events-container .profile-cart-item-container {
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid #dedede;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item {
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 200px;
  border: 1px solid #dedede;
  margin: 10px;
  padding: 5px;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-picture-container {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 185px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-picture-container img {
  height: 100%;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-delete {
  color: #2b889d;
  cursor: pointer;
  max-width: content;
  font-size: 14px;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-view-events {
  background-color: #ff8e3c;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item span {
  font-weight: 400;
  font-size: 14px;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-title {
  font-weight: 400;
  border-bottom: 0px;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-address {
  font-style: italic;
  font-size: 13px;
  border-top: -5px;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-price {
  font-weight: 500;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-seat {
  font-size: 14px;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-available {
  font-size: 14px;
}
.profile-cart-checkout {
  color: #2b889d;
  font-size: 20px;
  font-weight: 400;
  padding-top: 6px;
  margin-left: 15px;
  cursor: pointer;
}
.profile-upcoming-tickets-container {
  display: flex;
  flex-direction: column;
}
.profile-upcoming-tickets-header {
  display: flex;
  justify-content: space-between;
}
.profile-upcoming-tickets-header h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
.profile-upcoming-tickets-item-container {
  display: flex;
  flex-wrap: wrap;
}
.profile-upcoming-tickets-item {
  margin: 10px;
  width: 450px;
  height: 300px;
  overflow: hidden;
}
.profile-upcoming-tickets-item-image-container {
  width: 500px;
  height: 281px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #dedede;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  cursor: pointer;
}
.profile-upcoming-tickets-item-image-container img {
  width: 100%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.profile-upcoming-tickets-item-title {
  display: inline-block;
  padding: 5px;
  position: absolute;
  background-color: rgba(35, 35, 35, 0.3);
  color: rgba(255, 255, 255, 0.8);
  max-width: 300px;
  font-size: 20px;
  margin-left: 1px;
  z-index: 1;
}
.profile-upcoming-tickets-item:hover img {
  transform: scale(1.05);
}
.profile-upcoming-tickets-item:hover .profile-upcoming-tickets-item-title {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: rgba(35, 35, 35, 0.6);
  color: white;
}
.profile-purchase-history-container {
  display: flex;
  flex-direction: column;
}
.profile-button-container {
  display: flex;
}
.profile-pagination-button {
  padding: 5px;
  margin: 8px;
  color: #2b889d;
  background-color: white;
  border: 1px solid #dedede;
  border-radius: 5px;
  cursor: pointer;
}
.profile-edit-container-main {
  display: flex;
  justify-content: center;
}
.profile-edit-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #dedede;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.profile-edit-container h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}
.profile-edit-container h2 {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
  color: grey;
}
#profile-edit-form {
  display: flex;
  flex-direction: column;
}
#profile-edit-form button {
  background-color: #ff8e3c;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  width: 110px;
  height: 45px;
  border: 1px solid #dedede;
  align-self: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-edit-label {
  align-self: flex-start;
  margin-bottom: 10px;
  margin-top: 5px;
}
.profile-edit-input {
  border-radius: 3px;
  border: 1px solid #dedede;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  height: 30px;
  padding-left: 5px;
}
::placeholder {
  opacity: 0.7;
}
@media (max-width: 800px) {
  .profile-cart-events-container {
    margin-left: 30px;
  }
}
@media (max-width: 750px) {
  * {
    font-size: 14px;
  }
  .profile-cart-item-container {
    flex-direction: column;
    display: inline-flex;
  }
  .profile-header {
    font-size: 15px;
    position: absolute;
    right: 150px;
    width: 100%;
    align-self: flex-start;
  }
  .profile-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-account-information-container {
    width: 350px;
  }
  .profile-settings-container {
    width: 350px;
  }
  .profile-cart-events-container {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .profile-cart-item-container {
    display: flex;
    align-items: center;
    margin: 0;
    width: 375px;
  }
  .profile-recommended-events-container {
    align-items: center;
  }
  .profile-recommended-events-container h2 {
    text-align: center;
  }
  .profile-recommended-events-block {
    flex-direction: column;
    align-items: center;
  }
  .profile-header {
    position: static;
  }
  .profile-header h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .profile-cart-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
  .profile-upcoming-tickets-container {
    align-items: center;
  }
  .profile-upcoming-tickets-item-container {
    flex-direction: column;
    align-items: center;
  }
  .profile-upcoming-tickets-item {
    width: 360px;
    height: 203px;
  }
  .profile-upcoming-tickets-item-image-container {
    width: 360px;
    height: 203px;
  }
}
#footer-root-container {
  height: auto;
  width: 100%;
  margin: 0;
  background-color: #151a21;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.footer-group-1 {
  display: flex;
  height: auto;
  width: auto;
  justify-content: space-between;
  color: white;
  padding: 2.5%;
  padding-bottom: 4%;
  border-bottom: #ff8e3c solid 1px;
}
.footer-column {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-column h2 {
  font-size: 1.25rem;
}
.footer-column a {
  text-decoration: none;
  transition: 0.25s ease;
  color: white;
}
.footer-column a:hover {
  color: #ff8e3c;
}
.footer-group-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2.5%;
  padding-right: 7.5%;
}
.footer-group-2 img {
  height: 10%;
  width: 10%;
}
.footer-group-2 p {
  color: white;
}
.footer-group-2 .footer-copy {
  width: 10%;
}
.container {
  display: flex;
  align-items: center;
}
#single-event-row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 15vh;
}
#single-event-row-1 .single-event-date {
  width: 10vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff8e3c;
  border-radius: 1rem;
  justify-content: center;
  color: white;
}
#single-event-row-1 .single-event-date h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
#single-event-row-1 .single-event-date p {
  font-size: 1.5rem;
  font-weight: bold;
}
#single-event-row-1 .single-event-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #151a21;
  max-width: 1000px;
}
#single-event-row-2 {
  display: flex;
  height: 50vh;
  justify-content: center;
  gap: 5vw;
  margin-bottom: 10vh;
  margin-top: 1vh;
  background-color: #151a21;
  border-top: 2px solid #ff8e3c;
  border-bottom: 2px solid #ff8e3c;
}
#single-event-row-2 .maps-container {
  display: flex;
  flex: 2;
  padding: 30px;
}
#single-event-row-2 .single-event-image {
  display: flex;
  align-items: center;
  flex: 1;
}
#single-event-row-2 .single-event-image img {
  display: block;
  width: 100%;
  height: auto;
  border: 2px solid white;
  margin-left: 40px;
}
#single-event-row-2 .single-event-details {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-left: 20px;
}
#single-event-row-2 .single-event-details h1 {
  font-size: 1.5rem;
  font-weight: 1000;
  margin-bottom: 15px;
}
#single-event-row-2 .single-event-details h1 .single-event-bold {
  font-size: 1.2rem;
}
#single-event-row-2 .single-event-details p {
  color: white;
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}
#single-event-row-2 .single-event-details span {
  font-size: 15px;
}
#single-event-row-2 .single-event-details .product-quantity {
  display: flex;
  width: 13vw;
  justify-content: space-between;
  align-items: center;
}
#single-event-row-2 .single-event-details .product-quantity p {
  font-size: 17px;
}
#single-event-row-2 .single-event-details .product-quantity .single-event-input {
  height: 40px;
  width: 40px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  border: 1px black solid;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}
#single-event-row-2 .single-event-details .product-quantity .quantity-selectors-container .quantity-selectors {
  display: flex;
  margin-left: 10px;
}
#single-event-row-2 .single-event-details .product-quantity .quantity-selectors-container .quantity-selectors button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  margin: 5px;
  border-radius: 10px;
  background-color: #ff8e3c;
  color: white;
  cursor: pointer;
}
#single-event-row-2 .single-event-details .product-quantity .quantity-selectors-container .quantity-selectors button:active {
  background-color: #e96f19;
}
#single-event-row-2 .single-event-details #single-event-seat-box {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}
#single-event-row-2 .single-event-details #single-event-seat-box p {
  font-size: 1.2rem;
  color: white;
  margin: 0 40px 0 0;
}
#single-event-row-2 .single-event-details #single-event-seat-box button {
  width: 120px;
  height: 30px;
  background-color: #ff8e3c;
  border-radius: 8px;
  color: white;
}
#single-event-row-2 .single-event-details #single-event-button {
  border-radius: 10px;
  background-color: #ff8e3c;
  color: white;
  width: 120px;
  height: 40px;
  cursor: pointer;
}
#single-event-row-2 .single-event-details #single-event-button:active {
  background-color: #e96f19;
}
.upcoming-events-container {
  display: flex;
  flex: 2;
  flex-direction: column;
  background-color: #151a21;
  padding: 23px;
  border-style: solid;
  border-color: #ff8e3c;
  border-radius: 30px;
  margin-bottom: 10%;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  box-shadow: 0 8px 32px 0 #000000;
  animation: slideInLeft 1s;
}
@keyframes slideInLeft {
  0% {
    translate: -2000px;
    opacity: 0%;
  }
  100% {
    translate: 0px;
    opacity: 100%;
  }
}
.upcoming-events-title {
  color: white;
  align-self: center;
  font-size: xx-large;
  margin-bottom: 14px;
  font-style: bold;
  text-decoration: underline;
}
.single-upcoming-event {
  background-color: #151a21;
  border-bottom: 2px solid #ff8e3c;
  padding: 10px;
  cursor: pointer;
}
.single-upcoming-event:hover {
  border-style: solid;
  border-color: #ffb783;
  border-width: 4px;
  transition: 0.2s;
  border-radius: 30px;
}
.single-upcoming-event-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-upcoming-event-image {
  display: flex;
  width: 500px;
  max-width: 100%;
  height: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.single-upcoming-event-title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 6px;
}
.single-upcoming-event-date {
  display: flex;
  justify-content: center;
}
.events-near-me-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #151a21;
  padding: 23px;
  border-style: solid;
  border-color: #ff8e3c;
  border-radius: 30px;
  margin-bottom: 10%;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  box-shadow: 0 8px 32px 0 #000000;
  animation: slideInRight 1s;
}
@keyframes slideInRight {
  0% {
    translate: 2000px;
    opacity: 0%;
  }
  100% {
    translate: 0px;
    opacity: 100%;
  }
}
.events-near-me-title {
  color: white;
  align-self: center;
  font-size: xx-large;
  margin-bottom: 14px;
  font-style: bold;
  text-decoration: underline;
}
.single-event-near-me {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ff8e3c;
  padding: 10px;
}
.single-event-near-me-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
.single-event-near-me-image {
  display: flex;
  width: 200px;
  max-width: 100%;
  height: auto;
}
.single-event-near-me:hover {
  border-style: solid;
  border-color: #ffb783;
  border-width: 2px;
  border-radius: 10px;
}
.single-event-near-me-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  padding: 6px;
}
.single-event-near-me-date {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .events-near-me-container {
    margin-bottom: 10px;
  }
}
.main-page-featured-container {
  display: flex;
  flex-direction: column;
  background-color: #151a21;
}
.featured-events-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color: white;
  flex-wrap: wrap;
}
.main-page-event-button {
  width: 100px;
  height: 35px;
  background-color: #ff8e3c;
  color: white;
  border-radius: 7px;
  font-size: 16px;
  border-color: #ff8e3c;
  text-shadow: 2px 2px 4px black;
  margin: 10px 0 10px 0px;
  cursor: pointer;
}
.main-page-event-button:hover {
  border-style: solid;
  border-color: #ffb783;
  border-width: 4px;
  transition: 0.2s;
  border-radius: 20px;
  background-color: #ffb783;
  text-shadow: 2px 2px 4px black;
}
.main-page-event-button-container {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 700px) {
  .featured-events-container {
    flex-direction: column;
  }
}
.checkout-header h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}
.checkout-main-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.checkout-menu-container {
  display: flex;
  flex-direction: column;
}
.checkout-account-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dedede;
  width: 230px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
}
.checkout-account-information-container h3 {
  font-size: 18px;
  font-weight: 400;
}
.checkout-account-information-container a {
  text-decoration: none;
  color: #2b889d;
}
.checkout-account-information-container .checkout-name-container {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.checkout-account-information-container .checkout-picture-container {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 5px;
}
.checkout-account-information-container .checkout-picture-container img {
  width: 100%;
}
.checkout-account-information-container .checkout-email-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin-top: 5px;
  margin-bottom: 5px;
}
.checkout-account-information-container .checkout-email-container * {
  margin: 3px;
}
.checkout-account-information-container .checkout-address-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.checkout-account-information-container .checkout-address-container * {
  margin: 3px;
}
.checkout-settings-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 230px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  border: 1px solid #dedede;
  justify-content: space-evenly;
  color: #2b889d;
}
.checkout-settings-container div {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.checkout-settings-container div:hover {
  cursor: pointer;
  background-color: #e9e9e9;
}
.checkout-settings-container #checkout-setting-1 {
  border-top: none;
}
.checkout-settings-container #checkout-setting-2 {
  border: none;
}
.checkout-settings-container #checkout-setting-3 {
  border-bottom: none;
}
.checkout-cart-events-container {
  display: flex;
  flex-direction: column;
  border: 10px;
  margin-left: 80px;
  margin-top: 10px;
  height: 100vh;
}
.checkout-cart-events-container div {
  margin-top: 2px;
  margin-bottom: 2px;
}
.checkout-cart-events-container .checkout-recommended-events-container .checkout-recommended-events-header h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
.checkout-cart-events-container .checkout-recommended-events-container .checkout-recommended-events-block {
  display: flex;
  flex-wrap: wrap;
}
.checkout-cart-events-container .checkout-recommended-events-container .checkout-recommended-events-block .checkout-event-item {
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  width: 300px;
  height: 150px;
  border: 1px solid #dedede;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.checkout-cart-events-container .checkout-recommended-events-container .checkout-recommended-events-block .checkout-event-item img {
  width: 100%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.checkout-cart-events-container .checkout-recommended-events-container .checkout-recommended-events-block .checkout-event-item .checkout-event-item-title {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgba(35, 35, 35, 0.3);
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  align-self: flex-end;
  justify-content: flex-start;
  width: 300px;
  min-height: 30px;
  margin: 0px;
}
.checkout-cart-events-container .checkout-recommended-events-container .checkout-recommended-events-block .checkout-event-item .checkout-event-item-title div {
  margin-left: 3px;
}
.checkout-cart-events-container .checkout-recommended-events-container .checkout-recommended-events-block .checkout-event-item:hover img {
  transform: scale(1.05);
}
.checkout-cart-events-container .checkout-recommended-events-container .checkout-recommended-events-block .checkout-event-item:hover .checkout-event-item-title {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: rgba(35, 35, 35, 0.6);
  color: white;
}
.checkout-cart-events-container .checkout-cart-header {
  display: flex;
  text-align: center;
  margin: 20px 0 20px 0;
}
.checkout-cart-events-container .checkout-cart-header h2 {
  font-size: 30px;
  font-weight: 300;
}
.checkout-cart-events-container .checkout-purchase-header {
  display: flex;
  text-align: center;
  margin-top: 5px;
}
.checkout-cart-events-container .checkout-purchase-header h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
.checkout-cart-events-container .checkout-cart-item-container {
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid #dedede;
}
.checkout-cart-events-container .checkout-cart-item-container .checkout-cart-item {
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 200px;
  border: 1px solid #dedede;
  margin: 10px;
  padding: 5px;
}
.checkout-cart-events-container .checkout-cart-item-container .checkout-cart-item .checkout-cart-item-picture-container {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 185px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.checkout-cart-events-container .checkout-cart-item-container .checkout-cart-item .checkout-cart-item-picture-container img {
  height: 100%;
}
.checkout-cart-events-container .checkout-cart-item-container .checkout-cart-item .checkout-cart-item-delete {
  color: #2b889d;
  cursor: pointer;
  max-width: content;
  font-size: 14px;
}
.checkout-cart-events-container .checkout-cart-item-container .checkout-cart-item span {
  font-weight: 400;
  font-size: 14px;
}
.checkout-cart-events-container .checkout-cart-item-container .checkout-cart-item .checkout-cart-item-title {
  font-weight: 400;
  border-bottom: 0px;
}
.checkout-cart-events-container .checkout-cart-item-container .checkout-cart-item .checkout-cart-item-address {
  font-style: italic;
  font-size: 13px;
  border-top: -5px;
}
.checkout-cart-events-container .checkout-cart-item-container .checkout-cart-item .checkout-cart-item-price {
  font-weight: 500;
}
.checkout-cart-events-container .checkout-cart-item-container .checkout-cart-item .checkout-cart-item-seat {
  font-size: 14px;
}
.checkout-cart-events-container .checkout-cart-item-container .checkout-cart-item .checkout-cart-item-available {
  font-size: 14px;
}
.checkout-cart-checkout {
  color: #2b889d;
  font-size: 20px;
  font-weight: 400;
  padding-top: 6px;
  margin-left: 15px;
  cursor: pointer;
}
.checkout-upcoming-tickets-container {
  display: flex;
  flex-direction: column;
}
.checkout-upcoming-tickets-header {
  display: flex;
  justify-content: space-between;
}
.checkout-upcoming-tickets-header h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
.checkout-upcoming-tickets-item-container {
  display: flex;
  flex-wrap: wrap;
}
.checkout-upcoming-tickets-item {
  margin: 10px;
  width: 450px;
  height: 300px;
  overflow: hidden;
}
.checkout-upcoming-tickets-item-image-container {
  width: 500px;
  height: 281px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #dedede;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  cursor: pointer;
}
.checkout-upcoming-tickets-item-image-container img {
  width: 100%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.checkout-upcoming-tickets-item-title {
  display: inline-block;
  padding: 5px;
  position: absolute;
  background-color: rgba(35, 35, 35, 0.3);
  color: rgba(255, 255, 255, 0.8);
  max-width: 300px;
  font-size: 20px;
  margin-left: 1px;
  z-index: 1;
}
.checkout-upcoming-tickets-item:hover img {
  transform: scale(1.05);
}
.checkout-upcoming-tickets-item:hover .checkout-upcoming-tickets-item-title {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: rgba(35, 35, 35, 0.6);
  color: white;
}
.checkout-purchase-history-container {
  display: flex;
  flex-direction: column;
}
.checkout-button-container {
  display: flex;
}
.checkout-pagination-button {
  padding: 5px;
  margin: 8px;
  color: #2b889d;
  background-color: white;
  border: 1px solid #dedede;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .checkout-cart-events-container {
    margin-left: 30px;
  }
}
@media (max-width: 750px) {
  * {
    font-size: 14px;
  }
  .checkout-cart-item-container {
    flex-direction: column;
    display: inline-flex;
  }
  .checkout-header {
    font-size: 15px;
    position: absolute;
    right: 150px;
    width: 100%;
    align-self: flex-start;
  }
  .checkout-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .checkout-account-information-container {
    width: 350px;
  }
  .checkout-settings-container {
    width: 350px;
  }
  .checkout-cart-events-container {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .checkout-cart-item-container {
    display: flex;
    align-items: center;
    margin: 0;
    width: 375px;
  }
  .checkout-recommended-events-container {
    align-items: center;
  }
  .checkout-recommended-events-container h2 {
    text-align: center;
  }
  .checkout-recommended-events-block {
    flex-direction: column;
    align-items: center;
  }
  .checkout-header {
    position: static;
  }
  .checkout-header h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .checkout-cart-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
  .checkout-upcoming-tickets-container {
    align-items: center;
  }
  .checkout-upcoming-tickets-item-container {
    flex-direction: column;
    align-items: center;
  }
  .checkout-upcoming-tickets-item {
    width: 360px;
    height: 203px;
  }
  .checkout-upcoming-tickets-item-image-container {
    width: 360px;
    height: 203px;
  }
}
.checkout-button {
  width: 120px;
  height: 70px;
  background-color: #ff8e3c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  text-shadow: 2px 2px 4px black;
  box-shadow: 0 2px 8px 0 #000000;
}
.checkout-button:hover {
  background-color: #ee731a;
}
.checkout-cart-container a {
  font-size: 1.5rem;
  color: #ff8e3c;
}
.checkout-card-info {
  font-size: 1.5rem;
}
.checkout-card-info input {
  margin: 0 0 20px 0;
  width: 30%;
  height: 35px;
  font-size: 1.25rem;
}
.navbar-dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  position: relative;
  top: 60px;
  right: 20px;
  z-index: 99;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 #000000;
  opacity: 1;
  animation: fade 0.3s linear;
}
.navbar-dropdown-container a {
  text-decoration: none;
  color: black;
  padding: 5px 10px 5px 10px;
  z-index: 99;
}
.navbar-dropdown-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 5px 10px 5px 10px;
  width: 100%;
  z-index: 99;
}
.navbar-dropdown-container li button {
  background-color: #ff8e3c;
  color: #0d0d0d;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100px;
  z-index: 99;
}
.navbar-dropdown-container li:nth-child(1):hover {
  background-color: #d6d6d6;
}
.navbar-dropdown-container li:nth-child(2):hover {
  background-color: #d6d6d6;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gallery {
  display: flex;
  position: relative;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 60s linear infinite;
}
.gallery span:hover {
  border-style: solid;
  border-color: white;
}
@keyframes rotate {
  from {
    transform: perspective(1200px) rotateY(0deg);
  }
  to {
    transform: perspective(1200px) rotateY(360deg);
  }
}
.gallery span {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gallery span img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 0 0;
}
.carousel-image-title {
  position: absolute;
  display: flex;
  align-self: flex-end;
  background-color: rgba(35, 35, 35, 0.3);
  width: 100%;
  min-height: 50px;
  align-items: center;
  padding: 5px;
  color: white;
}
@media only screen and (max-width: 900px) {
  .gallery span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px);
  }
  .gallery {
    width: 200px;
    height: 150px;
    animation: rotate 60s linear infinite;
  }
  .carousel-container {
    padding: 60px 0 0 0;
  }
}
@media only screen and (max-width: 600px) {
  .gallery span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(190px);
  }
  .gallery {
    width: 150px;
    height: 100px;
    animation: rotate 60s linear infinite;
  }
  .carousel-container {
    padding: 30px 0 0 0;
  }
}
.seat-chart-container {
  background-color: white;
  height: 600px;
  width: 540px;
  margin: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
}
.seat-chart-container div:nth-last-of-type(6) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(18) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(30) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(42) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(54) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(66) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(78) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(90) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(102) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(114) {
  margin-left: 25px;
}
.seat-key {
  height: 90px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-right: -20px;
}
.fakeSeatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#fakeSeatAvailable {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 33px;
  height: 33px;
  background-color: #3893fb;
}
#fakeSeatSelected {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 33px;
  height: 33px;
  background-color: #e54435;
}
#fakeSeatTaken {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 33px;
  height: 33px;
  background-color: #c0c0c0;
}
.seat-chart-container-main {
  height: 750px;
  width: 700px;
  background-color: white;
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  padding: 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
}
.seat-chart-container-main .close-seat-chart {
  min-width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 500;
  color: white;
  background-color: #ff8e3c;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding-left: 1px;
  padding-bottom: 8px;
  justify-self: flex-end;
}
.seat-chart-container-main .close-seat-chart:hover {
  background-color: #ff8e3c;
}
.saveSeats {
  position: relative;
  align-self: center;
  min-width: 80px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: #ff8e3c;
  border: none;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  margin-right: -47px;
  margin-bottom: 10px;
  z-index: 10;
}
.seatkeySave {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.seat-backdrop {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.1);
  backdrop-filter: blur(4px);
  bottom: 10px;
}
.seat {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 33px;
  height: 33px;
  background-color: #3893fb;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.seat:hover {
  background-color: #2376d6;
}
.selected-seat {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 33px;
  height: 33px;
  background-color: #e54435;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.purchased-seat {
  pointer-events: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 33px;
  height: 33px;
  background-color: #c0c0c0;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Readex Pro", sans-serif;
  box-sizing: border-box;
}
html,
body {
  background-color: white;
}
