.main-page-featured-container {
  display: flex;
  flex-direction: column;
  background-color: #151a21;
}
.featured-events-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
}
.main-page-event-button {
  background-color: #ff8e3c;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  border-radius: 20px;
  font-size: 16px;
  border-color: #ff8e3c;
  text-shadow: 2px 2px 4px black;
}
.main-page-event-button:hover {
  border-style: solid;
  border-color: #ffb783;
  border-width: 4px;
  transition: 0.2s;
  border-radius: 20px;
  background-color: #ffb783;
  text-shadow: 2px 2px 4px black;
}
.main-page-event-button-container {
  display: flex;
  justify-content: center;
}
