.main-page-featured-container {
  display: flex;
  flex-direction: column;
  background-color: #151a21;
}
.featured-events-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main-page-event-button {
  background-color: #ff8e3c;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  border-radius: 20px;
  font-size: 16px;
  border-color: #ff8e3c;
  text-shadow: 2px 2px 4px black;
}
.main-page-event-button:hover {
  border-style: solid;
  border-color: #ffb783;
  border-width: 4px;
  transition: 0.2s;
  border-radius: 20px;
  background-color: #ffb783;
  text-shadow: 2px 2px 4px black;
}
.main-page-event-button-container {
  display: flex;
  justify-content: center;
}
* {
  margin: 0;
}
.carousel {
  width: 100%;
  overflow: hidden;
  height: 300px;
  background-color: #151a21;
  position: relative;
  transition: 0.25s;
}
.arrows {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  background-color: #ff8e3c;
  color: white;
}
.carouselWrapper {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: 0.25s;
}
.carousel-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151a21;
  color: white;
}
.gallery {
  position: relative;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 60s linear infinite;
}
@keyframes rotate {
  from {
    transform: perspective(1200px) rotateY(0deg);
  }
  to {
    transform: perspective(1200px) rotateY(360deg);
  }
}
.gallery span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
}
.gallery span img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 0 0;
}
