.profile-header h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}
.profile-main-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.profile-menu-container {
  display: flex;
  flex-direction: column;
}
.profileLargeEmail {
  font-size: 14px;
}
.profile-account-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dedede;
  width: 230px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
}
.profile-account-information-container h3 {
  font-size: 18px;
  font-weight: 400;
}
.profile-account-information-container a {
  text-decoration: none;
  color: #2b889d;
}
.profile-account-information-container .profile-name-container {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.profile-account-information-container .profile-picture-container {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 5px;
  border: 1px solid #dedede;
}
.profile-account-information-container .profile-picture-container img {
  width: 100%;
}
.profile-account-information-container .profile-email-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin-top: 5px;
  margin-bottom: 5px;
}
.profile-account-information-container .profile-email-container * {
  margin: 3px;
}
.profile-account-information-container .profile-address-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile-account-information-container .profile-address-container * {
  margin: 3px;
}
.profile-settings-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 230px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  border: 1px solid #dedede;
  justify-content: space-evenly;
  color: #2b889d;
}
.profile-settings-container div {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.profile-settings-container div:hover {
  cursor: pointer;
  background-color: #e9e9e9;
}
.profile-settings-container #profile-setting-1 {
  border-top: none;
}
.profile-settings-container #profile-setting-2 {
  border: none;
}
.profile-settings-container #profile-setting-3 {
  border-bottom: none;
}
.profile-cart-events-container {
  display: flex;
  flex-direction: column;
  border: 10px;
  margin-left: 80px;
  margin-top: 30px;
}
.profile-cart-events-container div {
  margin-top: 2px;
  margin-bottom: 2px;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-header h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block {
  display: flex;
  flex-wrap: wrap;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block .profile-event-item {
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  width: 300px;
  height: 150px;
  border: 1px solid #dedede;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block .profile-event-item img {
  width: 100%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block .profile-event-item .profile-event-item-title {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgba(35, 35, 35, 0.3);
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  align-self: flex-end;
  justify-content: flex-start;
  width: 300px;
  min-height: 30px;
  margin: 0px;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block .profile-event-item .profile-event-item-title div {
  margin-left: 3px;
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block .profile-event-item:hover img {
  transform: scale(1.05);
}
.profile-cart-events-container .profile-recommended-events-container .profile-recommended-events-block .profile-event-item:hover .profile-event-item-title {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: rgba(35, 35, 35, 0.6);
  color: white;
}
.profile-cart-events-container .profile-cart-header {
  display: flex;
  text-align: center;
  margin-top: 5px;
}
.profile-cart-events-container .profile-cart-header h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
.profile-cart-events-container .profile-purchase-header {
  display: flex;
  text-align: center;
  margin-top: 5px;
}
.profile-cart-events-container .profile-purchase-header h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
.profile-cart-events-container .profile-empty-cart {
  padding: 60px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-cart-events-container .profile-empty-cart img {
  max-width: 250px;
  opacity: 0.8;
}
.profile-cart-events-container .profile-empty-cart div {
  font-size: 18px;
}
.profile-cart-events-container .profile-cart-item-container {
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid #dedede;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item {
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 200px;
  border: 1px solid #dedede;
  margin: 10px;
  padding: 5px;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-picture-container {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 185px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-picture-container img {
  height: 100%;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-delete {
  color: #2b889d;
  cursor: pointer;
  max-width: content;
  font-size: 14px;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-view-events {
  background-color: #ff8e3c;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item span {
  font-weight: 400;
  font-size: 14px;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-title {
  font-weight: 400;
  border-bottom: 0px;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-address {
  font-style: italic;
  font-size: 13px;
  border-top: -5px;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-price {
  font-weight: 500;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-seat {
  font-size: 14px;
}
.profile-cart-events-container .profile-cart-item-container .profile-cart-item .profile-cart-item-available {
  font-size: 14px;
}
.profile-cart-checkout {
  color: #2b889d;
  font-size: 20px;
  font-weight: 400;
  padding-top: 6px;
  margin-left: 15px;
  cursor: pointer;
}
.profile-upcoming-tickets-container {
  display: flex;
  flex-direction: column;
}
.profile-upcoming-tickets-header {
  display: flex;
  justify-content: space-between;
}
.profile-upcoming-tickets-header h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
.profile-upcoming-tickets-item-container {
  display: flex;
  flex-wrap: wrap;
}
.profile-upcoming-tickets-item {
  margin: 10px;
  width: 450px;
  height: 300px;
  overflow: hidden;
}
.profile-upcoming-tickets-item-image-container {
  width: 500px;
  height: 281px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #dedede;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  cursor: pointer;
}
.profile-upcoming-tickets-item-image-container img {
  width: 100%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.profile-upcoming-tickets-item-title {
  display: inline-block;
  padding: 5px;
  position: absolute;
  background-color: rgba(35, 35, 35, 0.3);
  color: rgba(255, 255, 255, 0.8);
  max-width: 300px;
  font-size: 20px;
  margin-left: 1px;
  z-index: 1;
}
.profile-upcoming-tickets-item:hover img {
  transform: scale(1.05);
}
.profile-upcoming-tickets-item:hover .profile-upcoming-tickets-item-title {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: rgba(35, 35, 35, 0.6);
  color: white;
}
.profile-purchase-history-container {
  display: flex;
  flex-direction: column;
}
.profile-button-container {
  display: flex;
}
.profile-pagination-button {
  padding: 5px;
  margin: 8px;
  color: #2b889d;
  background-color: white;
  border: 1px solid #dedede;
  border-radius: 5px;
  cursor: pointer;
}
.profile-edit-container-main {
  display: flex;
  justify-content: center;
}
.profile-edit-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #dedede;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.profile-edit-container h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}
.profile-edit-container h2 {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
  color: grey;
}
#profile-edit-form {
  display: flex;
  flex-direction: column;
}
#profile-edit-form button {
  background-color: #ff8e3c;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  width: 110px;
  height: 45px;
  border: 1px solid #dedede;
  align-self: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-edit-label {
  align-self: flex-start;
  margin-bottom: 10px;
  margin-top: 5px;
}
.profile-edit-input {
  border-radius: 3px;
  border: 1px solid #dedede;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
  height: 30px;
  padding-left: 5px;
}
::placeholder {
  opacity: 0.7;
}
@media (max-width: 800px) {
  .profile-cart-events-container {
    margin-left: 30px;
  }
}
@media (max-width: 750px) {
  * {
    font-size: 14px;
  }
  .profile-cart-item-container {
    flex-direction: column;
    display: inline-flex;
  }
  .profile-header {
    font-size: 15px;
    position: absolute;
    right: 150px;
    width: 100%;
    align-self: flex-start;
  }
  .profile-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-account-information-container {
    width: 350px;
  }
  .profile-settings-container {
    width: 350px;
  }
  .profile-cart-events-container {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .profile-cart-item-container {
    display: flex;
    align-items: center;
    margin: 0;
    width: 375px;
  }
  .profile-recommended-events-container {
    align-items: center;
  }
  .profile-recommended-events-container h2 {
    text-align: center;
  }
  .profile-recommended-events-block {
    flex-direction: column;
    align-items: center;
  }
  .profile-header {
    position: static;
  }
  .profile-header h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .profile-cart-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
  .profile-upcoming-tickets-container {
    align-items: center;
  }
  .profile-upcoming-tickets-item-container {
    flex-direction: column;
    align-items: center;
  }
  .profile-upcoming-tickets-item {
    width: 360px;
    height: 203px;
  }
  .profile-upcoming-tickets-item-image-container {
    width: 360px;
    height: 203px;
  }
}
