.seat-chart-container {
  background-color: white;
  height: 600px;
  width: 540px;
  margin: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
}
.seat-chart-container div:nth-last-of-type(6) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(18) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(30) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(42) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(54) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(66) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(78) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(90) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(102) {
  margin-left: 25px;
}
.seat-chart-container div:nth-last-of-type(114) {
  margin-left: 25px;
}
.seat-key {
  height: 90px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-right: -20px;
}
.fakeSeatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#fakeSeatAvailable {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 33px;
  height: 33px;
  background-color: #3893fb;
}
#fakeSeatSelected {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 33px;
  height: 33px;
  background-color: #e54435;
}
#fakeSeatTaken {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 33px;
  height: 33px;
  background-color: #c0c0c0;
}
.seat-chart-container-main {
  height: 750px;
  width: 700px;
  background-color: white;
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  padding: 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 5, 0.12);
}
.seat-chart-container-main .close-seat-chart {
  min-width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 500;
  color: white;
  background-color: #ff8e3c;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding-left: 1px;
  padding-bottom: 8px;
  justify-self: flex-end;
}
.seat-chart-container-main .close-seat-chart:hover {
  background-color: #ff8e3c;
}
.saveSeats {
  position: relative;
  align-self: center;
  min-width: 80px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: #ff8e3c;
  border: none;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  margin-right: -47px;
  margin-bottom: 10px;
  z-index: 10;
}
.seatkeySave {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.seat-backdrop {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.1);
  backdrop-filter: blur(4px);
  bottom: 10px;
}
.seat {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 33px;
  height: 33px;
  background-color: #3893fb;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.seat:hover {
  background-color: #2376d6;
}
.selected-seat {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 33px;
  height: 33px;
  background-color: #e54435;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.purchased-seat {
  pointer-events: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 33px;
  height: 33px;
  background-color: #c0c0c0;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
