.upcoming-events-container {
  display: flex;
  flex: 2;
  flex-direction: column;
  background-color: #151a21;
  padding: 23px;
  border-style: solid;
  border-color: #ff8e3c;
  border-radius: 30px;
  margin-bottom: 10%;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  box-shadow: 0 8px 32px 0 #000000;
  animation: slideInLeft 1s;
}
@keyframes slideInLeft {
  0% {
    translate: -2000px;
    opacity: 0%;
  }
  100% {
    translate: 0px;
    opacity: 100%;
  }
}
.upcoming-events-title {
  color: white;
  align-self: center;
  font-size: xx-large;
  margin-bottom: 14px;
  font-style: bold;
  text-decoration: underline;
}
.single-upcoming-event {
  background-color: #151a21;
  border-bottom: 2px solid #ff8e3c;
  padding: 10px;
  cursor: pointer;
}
.single-upcoming-event:hover {
  border-style: solid;
  border-color: #ffb783;
  border-width: 4px;
  transition: 0.2s;
  border-radius: 30px;
}
.single-upcoming-event-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-upcoming-event-image {
  display: flex;
  width: 500px;
  max-width: 100%;
  height: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.single-upcoming-event-title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 6px;
}
.single-upcoming-event-date {
  display: flex;
  justify-content: center;
}
